<mat-toolbar color="primary">
  @if(isConnected()){
    <div class="nav-left">
      <app-header-button [variant]="'icon'" [icon]="'dashboard'" (clicked)="dashboardPage()"></app-header-button>
    </div>
  }
  
  <span class="spacer"></span>
  
  <div class="nav-right">
    @if(userService.user())
    {
      <div class="container-user-account">
        <app-header-button [variant]="'icon'" [icon]="'account_box'" [matMenuTriggerFor]="accountMenu.menu()" ></app-header-button>
        <app-header-account #accountMenu></app-header-account>
      </div>
    } @else {
      <!-- <app-header-login></app-header-login> -->
       <app-header-button [variant]="'icon'" [icon]="'token'" (clicked)="pageLogin()" ></app-header-button>
    }
    <button matIconButton (click)="toggleTheme()">
      <mat-icon>{{isDarkTheme() ? 'light_mode' : 'dark_mode' }}</mat-icon>
    </button>
  </div>
</mat-toolbar>