<mat-toolbar color="primary">
  @if(isConnected){
    <button mat-icon-button class="mobile-menu" (click)="toggleMenu()">
      <mat-icon>{{ isMenuOpen ? 'close' : 'menu' }}</mat-icon>
    </button>
  

    <div class="nav-left desktop-only">
      <button mat-button routerLink="/home">Home</button>
      <button mat-button routerLink="/about">About</button>
      <button mat-button routerLink="/services">Services</button>
      <button mat-button routerLink="/contact">Contact</button>
    </div>
  }
  
  <span class="spacer"></span>
  
  <div class="nav-right">
    @if(userService.user())
    {
      <div>{{ userService.user()?.userName }} - {{ userService.user()?.guid }}</div>
    } @else {
      <app-header-login></app-header-login>
    }
    <button matIconButton (click)="toggleTheme()">
      <mat-icon>{{isDarkTheme() ? 'light_mode' : 'dark_mode' }}</mat-icon>
    </button>
  </div>
</mat-toolbar>

@if(isConnected){
  <div class="mobile-nav" [class.open]="isMenuOpen">
    <a mat-button routerLink="/home" (click)="closeMenu()">
      <mat-icon>home</mat-icon> Home
    </a>
    <a mat-button routerLink="/about" (click)="closeMenu()">About</a>
    <a mat-button routerLink="/services" (click)="closeMenu()">Services</a>
    <a mat-button routerLink="/contact" (click)="closeMenu()">Contact</a>
  </div>
}