@use '@angular/material' as mat;
@use '../../../material-theme.scss' as theme;

mat-toolbar {
   @include mat.elevation(6);
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: var(--mat-sys-on-primary);
}

.nav-left {
  display: flex;
  gap: 8px;
}

.spacer {
  flex: 1;
}

.nav-right {
  display: flex;
  gap: 8px;
}
