.app-content{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#toasts-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 8px;
    position: fixed !important;
    bottom: 16px;
    right: 16px;
}